<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      background-color: #fff;
      padding: 10px;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      text-align: center;
    }
    .center-goal {
      background-color: lightgreen;
    }
  </style>
</head>
<body>
  <h1>Mandalart</h1>
  <div class="grid-container">
    <!-- Dynamically generate grid based on tedolistCount -->
    <% const positions = [0, 1, 2, 3, 5, 6, 7, 8]; %>
    <% for(let i = 0; i < 9; i++) { %>
      <div class="grid-item <%= i === 4 ? 'center-goal' : '' %>">
        <% if(i === 4) { %>
          <h3><%= mandalart.centerGoal %></h3>
        <% } else if (positions.includes(i) && tedolists[positions.indexOf(i)]) { %>
          <h3>Task <%= positions.indexOf(i) + 1 %>: <%= tedolists[positions.indexOf(i)].tedolist_detail %></h3>
          <ul>
            <% if (checklists[tedolists[positions.indexOf(i)].tedolist_number]) { %>
              <% checklists[tedolists[positions.indexOf(i)].tedolist_number].forEach(checklist => { %>
                <li><%= checklist.checklist_detail %></li>
              <% }); %>
            <% } %>
          </ul>
          <form action="/mandalart/addChecklist" method="POST">
            <input type="hidden" name="tedolistNumber" value="<%= tedolists[positions.indexOf(i)].tedolist_number %>">
            <input type="hidden" name="mandalart_id" value="<%= mandalart.mandalart_id %>">
            <label for="checklist">Add Checklist:</label>
            <input type="text" name="checklistDetail" id="checklist">
            <button type="submit">Add</button>
          </form>
        <% } else if (positions.includes(i) && positions.indexOf(i) < mandalart.tedolist_count) { %>
          <form action="/mandalart/addTedolist" method="POST">
            <input type="hidden" name="mandalartId" value="<%= mandalart.mandalart_id %>">
            <label for="tedolistDetails">Enter your task:</label><br>
            <textarea name="tedolistDetails" id="tedolistDetails" rows="3"></textarea>
            <button type="submit">Add Task</button>
          </form>
        <% } %>
      </div>
    <% } %>
  </div>
</body>
</html>
